.page {
    padding: 15px 20px;
}

.block-1 {
    display: flex;
    gap: 20px;
    height: 124px;
}

.card {
    border-radius: 12px;
}

.avatar-container,
.personal-info,
.languages-info {
    height: 100%;

}
